{% extends "base_sub.html" %}

{% block title_tag %}{% include "page_parts/page_title_tag.html" %}{% endblock %}

{% block extra_header %}
{% endblock %}


{% block left_col %}
{% include "page_parts/page_left_menu.html" %}
{% endblock %}


{% block main_container %}
<div id="main_container">
	{% include "page_parts/page_breadcrumb.html" %}

	{% include "page_parts/page_title.html" %}
	{% include "edit_links/page_edit.html" %}

	<div class="pg_stnd_content{% if page %} pg-id-{{ page.slug }}{% endif %}">

		{% if ERR_page_not_found or not page %}
		<div class="err_box">Sorry!  The page content was not found.</div>
		{% endif %}

		{{ page.content|safe }}

		{% include "page_parts/tag_related_links.html" %}
		{% include "last_update_timestamp.html" %}

	</div>
</div>
{% endblock %}
