<div class="row"  id="letter_or_year_menu">
    <div class="col-1 text-left">
        {% if prev_story %}
            <a href="{{ prev_story.link }}">&lt;&lt;</a>
        {% endif %}
    </div>
    <div class="col-4 text-left">
        {% if prev_story %}
            <a href="{{ prev_story.link }}">{{ prev_story.title|safe }}</a>
        {% endif %}

    </div>
    <div class="col-2 text-center">
        {% if prev_story and next_story %}&nbsp; | &nbsp;{% endif %}
    </div>
    <div class="col-4 text-right">
        {% if next_story %}
            <a href="{{ next_story.link }}">{{ next_story.title|safe }}</a>
        {% endif %}
    </div>
    <div class="col-1 text-right">
        {% if next_story %}
            <a href="{{ next_story.link }}">&gt;&gt;</a>
        {% endif %}
    </div>
</div>
